<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.systemlkr.testpaper.mapper.QuestionKnowledgeMapper">
    
    <resultMap type="QuestionKnowledge" id="QuestionKnowledgeResult">
        <result property="id"    column="id"    />
        <result property="questionId"    column="question_id"    />
        <result property="kpId"    column="kp_id"    />
    </resultMap>

    <sql id="selectQuestionKnowledgeVo">
        select id, question_id, kp_id from question_knowledge
    </sql>

    <select id="selectQuestionKnowledgeList" parameterType="QuestionKnowledge" resultMap="QuestionKnowledgeResult">
        <include refid="selectQuestionKnowledgeVo"/>
        <where>  
            <if test="questionId != null "> and question_id = #{questionId}</if>
            <if test="kpId != null "> and kp_id = #{kpId}</if>
        </where>
    </select>
    
    <select id="selectQuestionKnowledgeById" parameterType="Long" resultMap="QuestionKnowledgeResult">
        <include refid="selectQuestionKnowledgeVo"/>
        where id = #{id}
    </select>

    <insert id="insertQuestionKnowledge" parameterType="QuestionKnowledge" useGeneratedKeys="true" keyProperty="id">
        insert into question_knowledge
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="questionId != null">question_id,</if>
            <if test="kpId != null">kp_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="questionId != null">#{questionId},</if>
            <if test="kpId != null">#{kpId},</if>
         </trim>
    </insert>

    <update id="updateQuestionKnowledge" parameterType="QuestionKnowledge">
        update question_knowledge
        <trim prefix="SET" suffixOverrides=",">
            <if test="questionId != null">question_id = #{questionId},</if>
            <if test="kpId != null">kp_id = #{kpId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteQuestionKnowledgeById" parameterType="Long">
        delete from question_knowledge where id = #{id}
    </delete>

    <delete id="deleteQuestionKnowledgeByQuestionId" parameterType="Long">
        delete from question_knowledge where question_id = #{questionId}
    </delete>

    <delete id="deleteQuestionKnowledgeByIds" parameterType="String">
        delete from question_knowledge where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>